@model Venta_Bicis_Scooters.ENTITY.Scooter

@{
    ViewBag.Title = "DetailsScooter";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detalle del Scooter: @Model.ID</h2>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
  
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codMarca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codMarca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Velocidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Velocidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Freno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Freno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.codImagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codImagen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditScooter", new { id = Model.ID }, new { @class = "btn btn-outline-success" }) |
    @Html.ActionLink("Retornar a la Lista", "ListarScooter", new { }, new { @class = "btn btn-outline-primary" })
</p>
