@model IEnumerable<Venta_Bicis_Scooters.ENTITY.Factura>

@{
    ViewBag.Title = "ListarFactura";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Listado de Factura</h2>
<br />
<p>
    @Html.ActionLink("Crear Nueva Factura", "CreateFactura", null, new { @class = "btn btn-outline-success" })
</p>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Ruc)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Pedido)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Ruc)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Producto)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Pedido)
                </td>

            </tr>
        }

    </table>
</div>


<style>

    .my-custom-scrollbar {
        position: relative;
        height: 600px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>